<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inno.i">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".Activity.TestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DestinationActivity" />
        <activity android:name=".Activity.QRCheckActivity" />
        <activity android:name=".Activity.MyInfoActivity" />
        <activity android:name=".Activity.ModuleActivity" />
        <activity android:name=".Activity.SetActivity" />
        <activity android:name=".Activity.CheckListActivity" />
        <activity android:name=".Activity.ScanQRActivity" />
        <activity android:name=".Activity.GetoffActivity" />
        <activity android:name=".Activity.ArriveActivity" />
        <activity android:name=".Activity.StartActivity" />
        <activity android:name=".Activity.SelectActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoadingActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.IntroActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".QR.CaptureForm" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCD23Y7EKRXiBqDp2M1vg6XksVdsqvXxmk" />

    </application>

</manifest>